transformers
qwen-vl-utils
torch
openai
numpy
requests
pandas
scikit-learn
matplotlib
sentence-transformers
faiss-cpu
secret_key
python-dotenv # for api keys

# For langchain 
langchain
langchain-openai
openai